body{
	background-image: url('file://D:/c++/web/image/BGNM.jpg');
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 90% 10%;
}

	/*background-image: url('file://image/wallpaper.jpg'), url('file://image/BG.png');
	background-size: cover;
	background-position: center top, bottom;
	background-repeat: no-repeat, repeat;*/
	
	
